# Mini Project 1 â€” Module 3: Database Systems  
### Customerâ€“Product Data Integration System

This project demonstrates how customer and product data from two different systems 
can be integrated into a centralized database that supports analytical queries 
and reporting.

### **Problem Overview**
You are required to design and implement a database that integrates:

- **Customer Data System**  
  Contains customer IDs, names, addresses, and contact details.

- **Product Data System**  
  Provided via CSV or external API, containing product names, prices, categories, and stock levels.

Additionally, you must:
- Integrate both datasets into a unified schema
- Create and populate database tables
- Demonstrate SQL queries retrieving combined insights
- Validate data integrity
- Produce a summary report of the integration process

The implemented solution uses:
- **Python ETL scripts**  
- **Supabase PostgreSQL database**  
- **DBDocs ERD**  
- **SQL insights queries**

# Database Schema (ERD)

The integrated database schema includes four main tables:

- **customers**
- **products**
- **orders**
- **order_items**

### ERD Online (DBDocs)
Full schema and relationships:  
https://dbdocs.io/gabrielndunda/Customer-Product-Data-Integration-System?view=relationships

### DBML Schema
```dbml
Table customers {
  customer_id int [pk]
  first_name varchar
  last_name varchar
  email varchar
  phone varchar
  address_line1 varchar
  address_line2 varchar
  city varchar
  country varchar
  created_at timestamp
}

Table products {
  product_id int [pk]
  product_name varchar
  price decimal
  stock_quantity int
  source_system varchar
  created_at timestamp
}

Table orders {
  order_id int [pk]
  customer_id int [ref: > customers.customer_id]
  order_date date
  total_amount decimal
}

Table order_items {
  order_item_id int [pk]
  order_id int [ref: > orders.order_id]
  product_id int [ref: > products.product_id]
  quantity int
  unit_price decimal
  subtotal decimal
}

In [3]:
## ðŸ”µ **Notebook Cell 3 â€” Configure Environment & DB Connection**
import os
from dotenv import load_dotenv
import psycopg2
import pandas as pd
from psycopg2.extras import RealDictCursor

# Load .env file (must contain SUPABASE_DB_URL)
load_dotenv()
SUPABASE_DB_URL = os.getenv("SUPABASE_DB_URL")

if SUPABASE_DB_URL is None:
    raise ValueError("SUPABASE_DB_URL is missing. Add it to your .env file.")

def run_query(query, params=None):
    conn = psycopg2.connect(SUPABASE_DB_URL)
    try:
        with conn.cursor(cursor_factory=RealDictCursor) as cur:
            cur.execute(query, params)
            return pd.DataFrame(cur.fetchall())
    finally:
        conn.close()

# Test connection
run_query("SELECT NOW();")

                               now
0 2025-12-05 11:45:07.697408+00:00

# Working Implementation: Data Integration

This solution integrates data from the two systems:

### **1. Customer Data Integration**
- Generated using a synthetic Kenyan name generator  
- Includes names, gender, county â†’ mapped to city  
- Contact details from Faker library  
- Inserted into the **customers** table  

### **2. Product Data Integration (from CSV)**
- CSV contains 2,000 product records  
- Columns include name, price, quantity, category  
- Loaded into Python using Pandas  
- Inserted into the **products** table  

### **3. Linking Tables through Orders**
Synthetic orders and order_items link:
- customers â†’ orders â†’ order_items â†’ products  

This creates a fully integrated structure suitable for analytics.

In [4]:
# View first few customers
run_query("SELECT * FROM customers LIMIT 10;")

,customer_id,first_name,last_name,email,phone,address_line1,address_line2,city,country,created_at
0,1,Timothy,Kipruto,timothy.kipruto1@example.com,001-989-394-9622x1530,18 Garcia Spurs,Suite 214,Uasin Gishu,Kenya,2025-12-05 10:28:14.513648
1,2,Vanessa,Otieno,vanessa.otieno2@example.com,490-450-8227x10463,134 Nelson Loop,Apt. 108,Nairobi,Kenya,2025-12-05 10:28:14.513749
2,3,Jack,Wambui,jack.wambui3@example.com,371.877.0373x28840,7 Harmon Village,Apt. 609,Kirinyaga,Kenya,2025-12-05 10:28:14.513837
3,4,Carol,Cherono,carol.cherono4@example.com,634.256.7064,32 Scott Place,Suite 454,Kericho,Kenya,2025-12-05 10:28:14.513927
4,5,Samuel,Nyanchoka,samuel.nyanchoka5@example.com,555-260-0450x20471,61 Anthony Fields,Apt. 719,Kisii,Kenya,2025-12-05 10:28:14.514001
5,6,Connor,Kibet,connor.kibet6@example.com,+1-450-522-9274x6642,169 Edwards Flats,Suite 094,Elgeyo Marakwet,Kenya,2025-12-05 10:28:14.514084
6,7,Nicholas,Wambui,nicholas.wambui7@example.com,(644)211-2333x38119,6 Lam Villages,Suite 794,Laikipia,Kenya,2025-12-05 10:28:14.514167
7,8,Debra,Mutembei,debra.mutembei8@example.com,994.478.2128,44 King Dale,Apt. 342,Embu,Kenya,2025-12-05 10:28:14.514251
8,9,Shane,Chepkoech,shane.chepkoech9@example.com,723-494-3954,75 Mckenzie Station,Apt. 018,Kericho,Kenya,2025-12-05 10:28:14.514332
9,10,Michael,Omondi,michael.omondi10@example.com,(676)360-6051,127 Heather Terrace,Suite 059,Migori,Kenya,2025-12-05 10:28:14.514401

In [5]:
# View products
run_query("SELECT * FROM products LIMIT 10;")

,product_id,product_name,price,stock_quantity,source_system,created_at
0,1,"Smart TV 43"" Deluxe",2786.54,114,CSV,2025-12-05 10:28:14.505516
1,2,"Smart TV 43"" Value",4248.12,15,CSV,2025-12-05 10:28:14.505729
2,3,Basmati Rice 5kg Value,6040.09,287,CSV,2025-12-05 10:28:14.505731
3,4,Juice 1L Pro,4519.63,142,CSV,2025-12-05 10:28:14.505734
4,5,Milk 1L 2024 Edition,2814.82,110,API,2025-12-05 10:28:14.505736
5,6,"Smart TV 43"" Limited",1012.33,433,API,2025-12-05 10:28:14.505738
6,7,Tusker Lager 500ml Mini,482.33,235,CSV,2025-12-05 10:28:14.505739
7,8,Kitenge Dress Value,2967.12,321,API,2025-12-05 10:28:14.505745
8,9,Mineral Water 1L Deluxe,742.07,338,CSV,2025-12-05 10:28:14.505748
9,10,Dining Table Mini,2366.27,51,API,2025-12-05 10:28:14.505750

# SQL Queries Demonstrating Integration & Insights
These queries show how customer and product data are combined after integration.

## Query 1 â€” Customer Orders with Product Details

In [6]:
q1 = """
SELECT 
    o.order_id,
    c.first_name,
    c.last_name,
    p.product_name,
    oi.quantity,
    oi.unit_price,
    oi.subtotal
FROM orders o
JOIN customers c ON o.customer_id = c.customer_id
JOIN order_items oi ON oi.order_id = o.order_id
JOIN products p ON p.product_id = oi.product_id
LIMIT 20;
"""
run_query(q1)

,order_id,first_name,last_name,product_name,quantity,unit_price,subtotal
0,1,Russell,Mutembei,Bluetooth Speaker Classic,2,3914.53,7829.06
1,2,Kelly,Wanjala,Dining Table Mini,4,9281.05,37124.20
2,3,Zachary,Chebet,Tusker Lager 500ml Classic,2,3671.59,7343.18
3,4,Sarah,Ebei,Kitenge Dress Value,5,7680.10,38400.50
4,5,Alexandra,Achieng,Maize Flour 2kg Mini,2,2856.59,5713.18
5,6,Mary,Baya,Laptop Slim Mini,1,6219.03,6219.03
6,7,Tony,Mwangi,Sugar 2kg Pro,2,5799.98,11599.96
7,8,Jeffrey,Baya,Maize Flour 2kg Pro,5,8560.03,42800.15
8,9,Susan,Koech,Sugar 2kg Pro,1,2242.89,2242.89
9,10,James,Kassim,Basmati Rice 5kg Mini,3,9133.10,27399.30
10,11,Richard,Rono,Laptop Slim Pro,4,6026.84,24107.36
11,12,Tony,Mwangi,Coffee Table Deluxe,1,8149.77,8149.77
12,13,Jillian,Wanjiku,Sugar 2kg 2024 Edition,2,516.16,1032.32
13,14,Valerie,Longor,Smartphone Model X Value,3,9120.34,27361.02
14,15,Holly,Masha,Coca-Cola 500ml 2024 Edition,4,7210.97,28843.88
15,16,Jean,Ole,Safari Boot Value,5,9892.16,49460.80
16,17,Nicole,Mumo,Juice 1L Mini,3,4072.58,12217.74
17,18,James,Ahmed,Milk 1L 2024 Edition,2,2349.33,4698.66
18,19,Lindsey,Farah,"Smart TV 43"" Deluxe",5,8631.89,43159.45
19,20,Michele,Omar,School Uniform Limited,3,5522.01,16566.03

## Query 2 â€” Total Value of Orders per Customer

In [8]:
q2 = """
SELECT
    c.customer_id,
    c.first_name,
    c.last_name,
    SUM(o.total_amount) AS total_spent
FROM customers c
JOIN orders o ON c.customer_id = o.customer_id
GROUP BY c.customer_id, c.first_name, c.last_name
ORDER BY total_spent DESC
LIMIT 20;
"""
run_query(q2)

    customer_id first_name  last_name total_spent
0          1084      Kevin  Kiplangat   141890.49
1           304      Caleb      Moraa   130135.49
2           805    Matthew      Kamau   109607.18
3           915    Anthony     Mutiso   108100.58
4           335   Jennifer     Bakari   107181.63
5           511        Ann   Mukhwana    99891.34
6           205    Stephen   Odhiambo    97887.90
7           983    Heather      Wario    93371.20
8           430    Tiffany   Nyakundi    90981.52
9          1552       John     Kimani    90063.98
10         1216    Matthew    Wanjala    89406.33
11         1602    Melissa     Bakari    88861.60
12          373       Gary  Chepkoech    86936.11
13         1095     Carrie    Achieng    84765.56
14           94   Benjamin    Tepesua    81711.04
15         1935    Rebecca      Nchoe    81551.35
16          256     Hannah    Wanjala    79609.12
17          823    Melanie      Koech    79073.75
18         1896     Taylor      Nchoe    78620.45
19         1952    Heather    Tepesua    78203.64

## Query 3 â€” Filter Products by Price Range

In [9]:
min_price = 100
max_price = 5000

q3 = """
SELECT *
FROM products
WHERE price BETWEEN %s AND %s
LIMIT 50;
"""
run_query(q3, (min_price, max_price))

,product_id,product_name,price,stock_quantity,source_system,created_at
0,1,"Smart TV 43"" Deluxe",2786.54,114,CSV,2025-12-05 10:28:14.505516
1,2,"Smart TV 43"" Value",4248.12,15,CSV,2025-12-05 10:28:14.505729
2,4,Juice 1L Pro,4519.63,142,CSV,2025-12-05 10:28:14.505734
3,5,Milk 1L 2024 Edition,2814.82,110,API,2025-12-05 10:28:14.505736
4,6,"Smart TV 43"" Limited",1012.33,433,API,2025-12-05 10:28:14.505738
5,7,Tusker Lager 500ml Mini,482.33,235,CSV,2025-12-05 10:28:14.505739
6,8,Kitenge Dress Value,2967.12,321,API,2025-12-05 10:28:14.505745
7,9,Mineral Water 1L Deluxe,742.07,338,CSV,2025-12-05 10:28:14.505748
8,10,Dining Table Mini,2366.27,51,API,2025-12-05 10:28:14.505750
9,12,Office Chair Deluxe,2706.43,479,CSV,2025-12-05 10:28:14.505753
10,15,Smartphone Model X Mini,369.40,161,API,2025-12-05 10:28:14.505758
11,18,Sugar 2kg Pro,2503.94,287,API,2025-12-05 10:28:14.505762
12,19,Juice 1L Value,4024.04,112,CSV,2025-12-05 10:28:14.505764
13,24,Dining Table 2024 Edition,4375.91,232,CSV,2025-12-05 10:28:14.505771
14,26,Mineral Water 1L Pro,3770.44,82,CSV,2025-12-05 10:28:14.505775
15,27,Tusker Lager 500ml Limited,243.79,475,API,2025-12-05 10:28:14.505776
16,28,Office Chair Classic,2446.67,290,CSV,2025-12-05 10:28:14.505777
17,29,Laptop Slim Mini,738.66,389,CSV,2025-12-05 10:28:14.505779
18,30,Milk 1L Value,1693.01,270,API,2025-12-05 10:28:14.505781
19,31,Basmati Rice 5kg Deluxe,3151.58,343,API,2025-12-05 10:28:14.505782
20,32,Sports Jersey Classic,2516.66,32,API,2025-12-05 10:28:14.505784
21,33,Smartphone Model X Value,2241.16,36,CSV,2025-12-05 10:28:14.505785
22,36,Milk 1L Mini,4100.25,48,CSV,2025-12-05 10:28:14.505790
23,37,School Uniform Limited,4140.47,442,CSV,2025-12-05 10:28:14.505791
24,40,Sugar 2kg Limited,2535.57,472,CSV,2025-12-05 10:28:14.505796
25,42,Smartphone Model X Pro,4093.82,246,CSV,2025-12-05 10:28:14.505799
26,43,Kitenge Dress Pro,3820.78,199,API,2025-12-05 10:28:14.505800
27,45,Basmati Rice 5kg 2024 Edition,2216.12,29,CSV,2025-12-05 10:28:14.505803
28,47,"Smart TV 43"" Mini",1898.96,304,CSV,2025-12-05 10:28:14.505806
29,49,Coca-Cola 500ml Value,865.73,336,API,2025-12-05 10:28:14.505809
30,53,Smartphone Model X Value,2688.74,477,API,2025-12-05 10:28:14.505815
31,54,Smartphone Model X 2024 Edition,2885.62,224,API,2025-12-05 10:28:14.505816
32,57,Sofa 3-seater Value,2145.77,175,CSV,2025-12-05 10:28:14.505821
33,59,Laptop Slim Mini,2802.97,1,API,2025-12-05 10:28:14.505824
34,61,Coca-Cola 500ml Classic,798.68,452,CSV,2025-12-05 10:28:14.505827
35,62,Coca-Cola 500ml Mini,3723.70,282,CSV,2025-12-05 10:28:14.505828
36,63,Safari Boot Classic,3117.17,460,CSV,2025-12-05 10:28:14.505830
37,64,Office Chair Deluxe,2532.82,52,API,2025-12-05 10:28:14.505832
38,66,Basmati Rice 5kg Limited,296.62,377,API,2025-12-05 10:28:14.505835
39,67,Safari Boot 2024 Edition,1634.02,359,CSV,2025-12-05 10:28:14.505837
40,68,Kitenge Dress Mini,4733.37,102,API,2025-12-05 10:28:14.505838
41,70,Smartphone Model X Limited,3316.21,442,CSV,2025-12-05 10:28:14.505841
42,72,"Smart TV 43"" 2024 Edition",1826.75,492,API,2025-12-05 10:28:14.505844
43,73,"Smart TV 43"" Value",4373.91,373,API,2025-12-05 10:28:14.505845
44,78,Tusker Lager 500ml Deluxe,4113.51,206,API,2025-12-05 10:28:14.505853
45,79,Mineral Water 1L Pro,4233.44,481,API,2025-12-05 10:28:14.505854
46,84,Smartphone Model X Deluxe,3138.67,412,CSV,2025-12-05 10:28:14.505861
47,85,Maize Flour 2kg Classic,2486.18,243,CSV,2025-12-05 10:28:14.505863
48,87,Sports Jersey Pro,1518.33,352,CSV,2025-12-05 10:28:14.505866
49,88,Laptop Slim Pro,1800.07,490,API,2025-12-05 10:28:14.505867

## Query 4 â€” Customers with High-Value Orders

In [10]:
q4 = """
SELECT 
    o.order_id,
    c.first_name,
    c.last_name,
    o.total_amount
FROM orders o
JOIN customers c ON o.customer_id = c.customer_id
WHERE o.total_amount > 8000
ORDER BY o.total_amount DESC;
"""
run_query(q4)

      order_id first_name last_name total_amount
0          172    Mallory    Mwangi     49991.10
1          833       Alex    Mukasa     49906.05
2           69    Melanie     Koech     49684.00
3         1194    Tiffany  Nyakundi     49576.90
4           16       Jean       Ole     49460.80
...        ...        ...       ...          ...
1263       589    Vincent    Wekesa      8019.87
1264       951    Caitlyn    Barasa      8013.64
1265       961     Angela    Kimani      8012.70
1266       978    Jessica   Sankale      8012.64
1267      1915       Ryan    Mogaka      8001.70

[1268 rows x 4 columns]

# ðŸ” Data Validation

To ensure consistency:

#### Foreign key relationships validated  
- Every order references an existing customer  
- Every order item references an existing order  
- Every order item references an existing product  

#### Record counts validated  
- 2,000 customers  
- 2,000 products  
- 2,000 orders  
- 2,000 order items  

#### No missing or inconsistent foreign keys  

These checks confirm the database is correctly integrated and queryable.

# Summary of Integration Process

This notebook demonstrates a complete data integration workflow:

#### 1Designed a relational schema (ERD + DBML)  
#### Set up a cloud PostgreSQL database (Supabase)  
#### Imported customer and product data from different systems  
#### Linked the datasets through orders and order items  
#### Executed analytical SQL queries combining multiple sources  
#### Validated consistency and structure  

The system now supports:
- Customerâ€“order analytics  
- Product sales reporting  
- Revenue calculations  
- CSV-to-database verification  

This completes all deliverables for **Mini Project 1 â€” Module 3: Database Systems**.